.BoardPage{
    overflow-y:hidden !important;
    
}

.BoardCardParent{
    background-color: rgb(60, 72, 82);
    background:rgb(247, 245, 245);
    height:500px;
    overflow-y:hidden !important;
    overflow-x:visible;

}



.BoardCard{
    display:flex;
    flex-wrap:nowrap;
    
}

.Card{
    background:rgb(255, 255, 255);
    background:rgb(247, 245, 245);
    min-width:300px;
    border-radius:4px;
    margin-left:2px;
    margin-top:15px;
    padding:16px;
    
}


.CardHeader{
    display:flex;
    justify-content: space-between;

}

.CardHeaderMenu{
    margin-right:10px;
    color:rgb(163, 163, 163);
}

.CardTitleInput{
    color:#3C4852;
    font-weight:bolder;
    padding-left:10px;
    margin-bottom: 7px;
}

.CardAddCard{
    display:flex;
    justify-content:center;
    color:rgb(163, 163, 163);
    font-family:Roboto;
    margin-left:0px;
    margin-top:20px;
    
    width: 280px;
   
    border-radius: 4px;    
    padding:10px;
}
.NewText{
    font-family:Roboto;
    margin-left:3px;
}

.List{
    max-height:500px;
    overflow-y:visible !important;
}


.CardList{
    
    background:white;
    width: 280px;
    height:auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 6px;    
    padding:6px;
    padding-bottom:0;
    margin-bottom: 20px;
    transition: all 0.4s ease;
    overflow-y:visible !important;
}

.CardList:hover .List_Details_Indicator {
    opacity:0.7 !important;
    margin-bottom:10px;
}

.Textarea{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
    border-radius: 4px;    
    margin-bottom: 10px;
    padding:6px;
    background:white;
    width: 280px;
    border:none;
    font-family: Roboto;
    font-size: 15px;
    font-weight:400;
    height:50px ;
}

.TextHeading{
    border-radius: 4px;    
    margin-bottom: 0px;
    padding:4px;
    background:white;
    width: 100%;
    border:none;
    font-family: Roboto;
    font-size: 15px;
    font-weight:400;
    height:20px;
}


.CardLabel{
    display:flex;
    flex-wrap:wrap;
    margin-left:10px;
}

.CardListColor{
    background:rgb(6, 131, 247);
    width:35px;
    height:6px;
    border-radius:2px;
    margin-right:5px;
    
}

.ListTitle{
    color:rgb(34, 32, 32);
    margin-top:5px;
    font-family: Roboto;
    font-size: 15px;
    font-weight:500;
    padding:10px;
    padding-top:5px;
    
}
.List_Details_Indicator{
    color:rgb(73, 73, 73) !important;
    margin-left:10px;
    opacity:0;
    margin-bottom:3px;
}

.BoardAddmore{
    display:flex;
    margin-left:5px;
    margin-top:20px;
    border-radius:6px;
    padding:15px;
    color:rgb(163, 163, 163);
    font-family:Roboto;
    text-align: center;
    text-transform: none !important;
    width: 280px;
    white-space: nowrap;
}


.BoardTextarea{
    background:white;
    width: 280px; 
    border-radius: 4px;    
    padding:6px;
    margin-bottom: 10px;
    margin-left:4px;
    margin-top:20px;
    text-transform: none !important;
    font-family:Roboto;
}

.ListSection{
 
   
}
.BoardButtonArea{
    margin-left:15px;
    text-transform: none !important;
}

.BoardCard{
    /* overflow-y:auto !important; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /* background: RoyalBlue; */
    background:grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #89609E;
}


.loader img{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

@media(max-width:450px){

    .Card{
       
        min-width:200px;
        border-radius:4px;
        margin-left:20px;
        margin-top:15px;
        padding:16px;
        
    }

    .CardList{
    
        width: 200px;
       
    }

    .List_Details_Indicator{
        display:none;
    }
    .CardAddCard{
        
        margin-top:20px;
        width: 200px;
        border-radius: 4px;    
        padding:10px;
    }


    .BoardTextarea{
        
        width: 200px; 
        margin-right:3px;
        
    }    



    .Textarea{
        width: 200px;
      
    }



}