.BoardCardParent{
    height:80vh;
    overflow-x:auto;
    overflow-y:hidden;
   
}



.BoardPage{
    background-color: rgb(60, 72, 82);
    background:rgb(255, 255, 255);
    height:100vh;
 
}

.BoardCard{
    display:flex;
    flex-wrap:nowrap;
    
}

.Card{
    background:#EBECF0;
    background:rgb(255, 255, 255);
    min-width:300px;
    border-radius:4px;
    margin-left:15px;
    margin-top:15px;
    padding:16px;
  
}


.CardHeader{
    display:flex;
    justify-content: space-between;
}

.CardHeaderMenu{
    margin-right:10px;
    color:rgb(163, 163, 163);
}

.CardTitleInput{
    color:#3C4852;
    font-weight:bold;
    padding:10px;
}

.CardAddCard{
    display:flex;
    justify-content:center;
    color:rgb(163, 163, 163);
    font-family:Roboto;
    margin-left:0px;
    margin-top:20px;
    background:white;
    width: 280px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 4px;    
    padding:10px;
}
.NewText{
    font-family:Roboto;
    margin-left:3px;
}


.CardList,.Textarea{
    
    background:white;
    width: 280px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 4px;    
    padding:6px;
    margin-bottom: 15px;
}

.Textarea{
    border:none;
    font-family: Roboto;
    font-size: 15px;
    font-weight:400;
}


.CardLabel{
    display:flex;
    flex-wrap:wrap;
    margin-left:10px;
}

.CardListColor{
    background:rgb(6, 131, 247);
    width:35px;
    height:6px;
    border-radius:2px;
    margin-right:5px;
    
}

.ListTitle{
    margin-top:5px;
    font-family: Roboto;
    font-size: 15px;
    font-weight:500;
    padding:10px;
    padding-top:5px;
}
.List_Details_Indicator{
    color:rgb(73, 73, 73) !important;
    margin-left:10px;
}

.BoardAddmore{
    background:rgba(255, 255, 255, 0.247);
    margin-left:15px;
    margin-top:20px;
    border-radius:4px;
    padding:15px;
    color:rgb(163, 163, 163);
    font-family:Roboto;
    width:300px !important;
    height:50px;
    text-transform: none !important;
    
}

.BoardTextarea{
    background:white;
    width: 280px; 
    border-radius: 4px;    
    padding:6px;
    margin-bottom: 10px;
    margin-left:15px;
    margin-top:20px;
    text-transform: none !important;
    font-family:Roboto;
}

.ListSection{
 
   
}
.BoardButtonArea{
    margin-left:15px;
    text-transform: none !important;
}