.Link{
    text-decoration: none !important;
    color:white;
}

.Link:hover{
    text-decoration:none;
}

.BoardSectionName{
    display:flex;
    font:'Gilroy';
}

.BoardNav{
  
}

.boardsCardSection{
    display: flex;
    flex-direction:column;
    background:#247ba0;
    height:100px;
    width:200px;
    margin-top:8px;
    margin-right:24px;
    margin-bottom:16px;
    color:white;
    padding:10px;
    border-radius:4px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    border-left:8px solid #1f6a8a;
    transition: all 0.4s ease;
}

.boardsCardSection:hover{
    
    opacity:0.9;
}


.boardTitle{    

    font-family:'Gilroy';
    font-size:17px;
}

.boardCardStar{
    color:#ffe066;
    text-align:right;
}