.main{
    margin-top:60px;
    margin-left:120px;
    display:flex;
    
}

.section1{
    display:flex;
    flex-direction: column;
    margin-right:50px;
    width:250px;
    
    
}

.section2{
    display:flex;
    flex-direction: column;
    margin-right:50px;
    
}


.BoardSectionName{
    display:flex;
    
}

.BoardSection{
    margin-bottom:40px;
}

.BoardNavMain{
    margin-top:0px;

   
}

.BoardNav{
    display:flex;
    margin-bottom:16px;
    color:#091E42;
    font-size:15px;
    padding:5px 20px 5px 3px;
    font-weight:bold;
    transform:translateX(0);
    transition:all 0.5s ease;
}

.BoardNav:hover .BoardNavIcon{
    color:#9263FF !important;
}

.BoardNav:hover .BoardCategoryName{

    
    color:#9263FF !important;
}



.BoardNav:hover {

    border-radius:4px;
    background: rgb(206, 193, 236);
    
}




.BoardCategoryName{
    text-overflow: ellipsis;
    white-space: normal;
    margin-left:5px;
    color: #57697D;
}

.BoardNavIcon{
   
    color:rgba(24, 50, 95, 0.856);
}


.activeClass{
    display:flex;
    width:auto;
    color:rgb(248, 250, 252) !important;
    border-radius:4px;
    background: #9263FF;
    font-size:15px;
    padding:5px 20px 5px 3px;
    text-decoration: none;
    
}


.TeamNavSection{
    width:100%;
   
}
.add:hover{
    border-radius:50%;
    background:rgb(203, 210, 228);
    cursor:pointer;
}

.TeamHeading{
    color:rgb(112, 109, 109);
    font-size:13px;
    text-transform: uppercase;
    display:flex;
    justify-content: space-between;

}

.star,.PersonIcon, .PeopleIcon{
    color:#FFC701;
    font-size:40;
    margin-top:2px;
    margin-right:6px;
}
.PersonIcon, .PeopleIcon{
    color:rgba(24, 50, 95, 0.856);
}


.BoardType{
    color:#3C4852;
    font-family:'Gilroy';
    font-size:20px;
    font-weight:bolder;

}

.HomeBoardComponent{
    display:flex;
    flex-wrap:wrap;
}


.TeamCardSection{
    display:flex;
    flex-wrap:wrap;
    margin-top:10px;
}

.TeamCardName,.TeamMemebers{
    margin-right:20px;
    width:120px;
    text-align: center;
    opacity: 0.9;
    border:2px solid #9263FF; 
    font-weight:bold;
    border-radius:4px;
    padding:2px;
    padding-top:7px;
    color:#9263FF;
    
}

.TeamCardName p{
    
}

@media (max-width:850px){

    .section1{
        display:none;
    }
    .main{
        margin-top:30px;
        margin-left:30px;
        text-align:center;
        justify-content: center;
        align-items: center;
    }
    
    
    .section2{

        margin-right:10px;
        justify-content: center;
        align-items: center;
    }


    .BoardSectionName{
        justify-content: center;
        align-content: center;
        
    }
    .TeamCardName,.TeamMemebers{
        margin-right:20px;
        width:80px;
        font-size:12px;

        
    }

    .BoardType{
        text-align:left;
    }
    
}