.modal{
    display:flex;
    align-items: center;
    justify-content: center;

    
   }

.paper{
    background:rgb(255, 255, 255);
    padding:45px;
    font-family: 'Roboto', sans-serif !important;
}

.FormGroup{
    display:flex;
    
}

.FormMain{
    margin-right:50px;
}

.TeamImage{
    width:250px;
    height:auto;
}

.Heading{
    color: #003554;
    font-weight:bold;
    font-size:24px;

}

.DescriptionSubtitle{
    color:#748093;
    font-size:10px;
}

.SubHeading{
    color: #748093;
    font-size: 14px;
    margin-bottom:40px;
}

.formLabel{
    font-size:15px;
    color: #003554;
    font-weight:bold;
}

.FormText1,.FormText2{
   
    background: #FFFFFF;
    box-sizing: border-box;
    padding-left:5px;
    border-radius:3px;
    border:2px solid rgb(184, 182, 182);
}

.FormText1{
    margin-bottom:20px;
    height:50px;
    width:250px;
    
}
.FormText2{

}

.FormText1:active, .FormText1:focus,.FormText2:active, .FormText2:focus{
    border: 2px solid #89609E;
}
.FormText1:hover ,.FormText2:hover{
    background:rgb(235, 233, 233);
}


.ContinueButton{
    display:flex;
    cursor: pointer;
    color:white;
    background:#89609E;
    width:250px;
    height:50px;
    border-radius: 2px;
    text-align:center;
    align-items:center;
    justify-content: center;
    margin-top:20px;
    font-size:15px;
}

.DescriptionSubtitle{
    font-size:13px;
    margin-top:5px;
}