

.navbar-board{
    
    background: rgb(60, 72, 82) 0% 0% no-repeat padding-box !important; 
    height:46px;
    box-shadow: none !important;
    
    border-bottom: 2px solid #3EECAC;
    
}


.navbar-brand-board{
    color:#F7CE68;
    font-size:20px;
    font-weight: bolder;
    margin-right:10px;
}

.team-board-visibility-nav,.star-board-nav{
    background:rgba(255, 255, 255, 0.247);
    border-radius:6px;
    height:33px;
}

.star-board-nav{
    margin-right:10px;
}

.team-board-visibility-nav{

}

.star-icon-nav{
    color:rgb(255, 255, 255);
    font-size:19px;
    margin-bottom:5px;
}

.users-nav{
    color:white;
    padding-right:10px;
}

.users-visibility-nav{
    color:rgb(250, 246, 246);
    font-size:16px;
    padding-bottom:10px;
    font-weight:bold;
}

.more-option-nav{
    color:white;
    font-weight: bold;
}

.fa-bars{
    color:white;

}

.fa-long-arrow-right{
    font-weight: normal !important;
}