.navbar-collapse{
    justify-content: space-around !important;
}


.navbar{
    
    background: #89609E 0% 0% no-repeat padding-box !important; 
    box-shadow: 0px 3px 11px #BAD8FD40 !important;
    height:48px;
    
}

.nav-item{

    list-style:none;
}
.navbarBoard{
    height:50px;
}


.navbar-brand{
    color:white!important;
    font-weight: bolder;
}


.Navbar nav{
    height:100%;
}


.home,.board{
    background:rgba(255, 255, 255, 0.247);
    border-radius:px;
    height: 37px;
    padding-bottom:6px;
}

.fa-home{
    font-size: 19px;
    color:white;
}

.fa-dashcube{
    color:rgb(255, 255, 255);
    font-size:17px;
    
}

.board{
    margin-left:10px;
}
.board-icon-text{
    font-size:15px !important;
    color:white;
    padding-left:6px;
    font-weight:bolder;
}

.Logo-specs{
    margin-left:150px;
}

.teachLink{
    font: normal normal 200 17px/23px Gilroy;
    letter-spacing: 0.47px;
    color: #566775;
    border-radius:6px;
    background:rgba(128, 128, 128, 0.192);
    margin-right:30px;
    
  
}
.teacherActive{
    background:white;
    border:1px solid #566775;;
}


.Signupbtn,.Loginbtn,.logoutlink{
    margin-right:10px;
    color:white;
    font-weight:bolder;

}

.logout{
    margin-left:10px;
}

.active-categoryMenu{
    color:black !important;
    font-weight:bolder !important;
    
}

.Loginbtn:hover,
.Signupbtn:hover{
    opacity:0.7;
    color:inherit !important;
}


.Loginbtn:active,
.Signupbtn:active{
    
    background:white;

}




.profileName{
    font: normal normal 200 17px/23px Gilroy;
    color:rgba(13, 22, 46, 0.76) !important;
 
}

.btnactive{
    background:#fff1e6;
    color:#3C4852;

}

.dropdown-toggle{
    color: #566775;
}



.dropdown-item{
   
    font: normal normal  17px/20px Gilroy;
    letter-spacing: 0.47px;
    color: #566775;
    opacity:0.7;
   
}

.dropdown-item:active{
    background:#08BD80 !important;
}


.dropdown-item:hover{
  font-weight:bolder!important;
   
}
.dropdown:hover .dropdown-menu{
    display:block;
    margin-top:0;

}



.wishlistlink,.profilelink{
    color: #566775;
}

.linkactive{
    font-weight:bolder!important;
}

.navlink:hover{
    color:#566775!important;
}


.wishlistlink:hover,
.profilelink:hover{

    font-weight:bolder!important;
}



.bar-nav{
    color:#2D81F7;
}

.usere{
    margin-right:20px;
}


@media (max-width:998px){

    .Signupbtn,.Loginbtn,.logoutlink{
        
    }

    .btnactive{
      
    }
    
    

}